
header{
    margin-top: 70px;
}

body{
    background: rgb(66, 66, 202);
    margin-left: 150px;
    margin-right: 250px;
}   

h1{
    color: rgb(3, 3, 65);
    font-family: fantasy;
}

h2{
    font-family: fantasy;
}

p{
    font-size: 18px;
}


footer{
    margin-bottom: 30px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}


.logo {
    width: 200px;
}